[submodule "EraUmaVezUmaCasa"]
	path = EraUmaVezUmaCasa
	url = https://github.com/GSimas/EraUmaVezUmaCasa
[submodule "CampoLogicoMinado"]
	path = CampoLogicoMinado
	url = https://github.com/GSimas/Campo-Logico-Minado
[submodule "Inception"]
	path = Inception
	url = https://github.com/GSimas/InoThings
[submodule "Tutorials"]
	path = Tutorials
	url = https://github.com/arduino/tutorials
[submodule "LaPALOMA"]
	path = LaPALOMA
	url = https://github.com/GSimas/EEL7801
